{% extends "base.html" %}

{% block content %}
    <form method="post">

    <label for="c">Add a new comment</label>
    <input type="text" id="c" name="c" placeholder="Write your comment here">
    <button type="submit">Add comment</button>
    </form>

    {% for c in comments %}
    <div class="product-card">

      <p>{{ c.comment }}</p>
      <p><strong>Created at:</strong> {{ c.created_at }}</p>
        <form method="post">

        <label for="c">Add a comment</label>
        <input type="text" id="c" name="c" placeholder="Write your comment here">
        <button type="submit">Add comment</button>
        </form>
        <div clasS = "product-card">
            <p>{{ c.comment }}</p>
            <p><strong>Created at:</strong> {{ c.created_at }}</p>
        </div>
    </div>
    {% endfor %}

{% endblock %}